[data-theme="light"] {
  --color-background-body: #ecf0f1;
  --color-background-header: #2980b9;
  --color-background-buttons: #3e8cc0;
  --color-background-dropdown: #2980b9;
  --color-background-input: #69a6ce;
  --color-background-button-to-top: #566472;
  --color-background-span-info: #e3e3e3;
  --color-text-title: #ecf0f1;
  --color-text-buttons: #fff;
  --color-text-input: #fff;
  --color-text-label-radio: #fff;
  --color-text-span-message: #2980b9;
  --color-text-button-to-top: #ecf0f1;
  --color-text-span-info: #34495e;
  --color-text-pagination: #2980b9;
  --load-linear-gradient: linear-gradient(to right, #e3e3e3 4%, #eeeeee 25%, #e3e3e3 36%);
  --dots-primary-color: #2980b9;
  --dots-secundary-color: #e5e7ea;
}

[data-theme="dark"] {
  --color-background-body: #121212;
  --color-background-header: #1f1f1f;
  --color-background-buttons: #353535;
  --color-background-dropdown: #1f1f1f;
  --color-background-input: #353535;
  --color-background-button-to-top: #353535;
  --color-background-span-info: #353535;
  --color-text-title: #cfcfcf;
  --color-text-buttons: #cfcfcf;
  --color-text-input: #cfcfcf;
  --color-text-label-radio: #cfcfcf;
  --color-text-span-message: #d2d2d2;
  --color-text-button-to-top: #acacac;
  --color-text-span-info: #cccccc;
  --color-text-pagination: #a0a0a0;
  --load-linear-gradient: linear-gradient(to right, #353535 4%, #494949 25%, #353535 36%);
  --dots-primary-color: #808080;
  --dots-secundary-color: #353535;
}

body {
  background-color: var(--color-background-body);
  font-family: 'Varela Round', sans-serif;
}

.bold {
  font-weight: bold;
}

.hide {
  display: none;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}