.header {
  background-color: var(--color-background-header);
  height: 45px;
}

.wrapper-header {
  height: 45px;
  margin: 0 auto;
  max-width: 1100px;
  text-align: center;
}

.title {
  float: left;
  font-size: 24px;
  margin-left: 8px;
  margin-top: 10px;
}

.title .link {
  color: var(--color-text-title);
  outline-style: none;
  text-decoration: none;
}

.wrapper-input {
  float: right;
  margin-right: 8px;
  margin-top: 7px;
  width: 320px;
}

.input {
  background-color: var(--color-background-input);
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--color-text-input);
  font-family: inherit;
  font-size: 15px;
  outline-style: none;
  padding: 6px 40px 6px 10px;
  width: 100%;
}

.input::placeholder {
  color: var(--color-text-input);
  opacity: 1;
}

.icon-search {
  color: var(--color-text-input);
  cursor: pointer;
  font-size: 16px;
  margin-left: -45px;
  padding: 4px 8px;
}

@media (max-width: 768px) {
  .title {
    margin-left: 12px;
  }
  .wrapper-input {
    margin-right: 14px;
  }
}

@media (max-width: 602px) {
  .header {
    height: auto;
  }
  .wrapper-header {
    height: auto;
    padding-bottom: 12px;
  }
  .title {
    display: inline-block;
    float: none;
    margin-left: 0;
    margin-top: 20px;
  }
  .wrapper-input {
    float: none;
    margin: 20px auto 0 auto;
    width: 320px;
  }
  .input {
    padding-bottom: 4px;
    width: 98%;
  }
}

@media (max-width: 320px) {
  .wrapper-input {
    width: 290px;
  }
  .input {
    font-size: 14px;
  }
}